body {
    font-family: Arial, sans-serif;
    background-color: #d2deeb; /* Light Blue Background */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #FFA500; /* Orange Background */
    color: white;
    padding: 10px 0;
    text-align: center;
    background-image: url('../images/header-background.jpg'); /* Addition of background image */
    background-size: cover;
    background-position: center;
}

.quiz-section {
    background-color: #FFFACD; /* Light Yellow */
    padding: 20px;
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
    text-align: left; /* Left-aligning the questions */
}

.question p {
    margin-bottom: 5px; /* Add some space above the answer box */
}

.question input[type="text"] {
    width: 100%; /* Full width of the container */
    padding: 8px; /* Add some padding for aesthetics */
    margin-bottom: 10px; /* Space after the input box */
    border: 1px solid #ccc; /* Subtle border for the input box */
    border-radius: 4px; /* Slightly rounded corners for the input box */
}

footer {
    background: #FFA500; /* Orange Background */
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

button {
    background: #FFD700; /* Yellow */
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #FFA500; /* Darker Yellow/Orange */
}
