body {
    font-family: Arial, sans-serif;
    background-color: #d2deeb; /* Light Blue Background */
    color: #333; /* Dark text for readability */
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #FFA500; /* Orange Background */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.quiz-section {
    background-color: #FFFACD; /* Light Yellow */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for quiz section */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
    text-align: left;
}

.question label {
    display: block; /* Ensures label takes its own line */
    margin-bottom: .5em; /* Spacing between question and input */
    font-weight: bold; /* Makes question labels stand out */
}

.question input[type="text"] {
    width: 100%; /* Full width of parent container */
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

footer {
    background: #FFA500; /* Orange Background */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Ensures footer is at the bottom */
    bottom: 0;
    width: 100%;
}

button {
    background: #FFD700; /* Golden */
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Slightly larger font for buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background: #FFA500; /* Darker Yellow/Orange for hover effect */
}
